.btn {
  border-radius: 63px;
  background: var(--2898-f-5, #2898f5);
  padding: 16px 42px 15px 42px;
  color: #ffffff;
  cursor: pointer;

  &_promo {
    padding: 37px 65px;
    font-size: 20px;
    position: relative;

    img {
      top: 50%;
      right: 30px;
      position: absolute;
      transform: translateY(-50%);
    }
  }
}
