@media (max-width: 1680px) {
  .reports {
    min-height: 2699px;
  }
  .info {
    &__item {
      max-width: 396px;
      height: 191px;
    }
    &__title {
      font-size: 22px;
    }
    &__descr {
      font-size: 16px;
    }
  }
  .scrin {
    margin-left: 20px;
    margin-right: 20px;

    .main-scrin {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .analyze {
    &__bg-card {
      bottom: -500px;
      top: auto;
      left: auto;
      right: 0;
    }
    &__bg-like {
      position: absolute;
      width: 100px;
      height: 100px;
      bottom: -200px;
      left: 0;
    }
  }
}

@media (max-width: 1320px) {
  .info {
    flex-direction: column;

    &__column {
      &:nth-child(2) {
        order: -1;
      }
    }
    &__item {
      height: 145px;
      margin-bottom: 31px;
      max-width: 100%;
    }
    &__title {
      font-size: 20px;
    }
    &__descr {
      font-size: 14px;
    }
    &__img {
      width: 80.388px;
      height: 80.388px;
      top: -35px;
    }
  }
  .reports {
    min-height: 3800px;
    &__bottom {
      flex-direction: column;
    }
  }
  .scrin {
    &_top {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 992px) {
  .reports {
    padding-top: 70px;
    &__descr {
      .arrow-right {
        display: none;
      }
      .arrow-left {
        display: none;
      }
    }
  }
  .info {
    margin-top: 40px;
  }
  .analyze {
    &__box {
      flex-direction: column-reverse;
    }
    &__text {
      &::before {
        right: 0;
        top: 119px;
      }
    }
  }
}

@media (max-width: 768px) {
  .reports {
    min-height: 3526px;
  }
}
@media (max-width: 576px) {
  .reports {
    border-radius: 30px;
    min-height: 2600px;

    &__descr {
      font-size: 14px;
      line-height: 150%;
    }
  }
  .scrin {
    margin-top: 2px;
  }

  .analyze {
    &__box {
      gap: 30px;
      margin-top: 25px;
    }
    &__text {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      &::after {
        width: 60px;
        height: 60px;
        transform: rotate(15deg);
        top: 0;
        left: auto;
        right: 0;
      }
      &::before {
        display: none;
      }
      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    &__bg-card {
      bottom: -300px;
      transform: rotate(20deg);
      right: 20px;
      height: 370px;
    }
    .analyze__bg-purple {
      display: none;
    }
    &__bg-like {
      width: 50px;
      height: 50px;
      bottom: -100px;
    }
  }
  .title {
    &_analyze {
      margin-top: 21px;
    }
  }
}

// @media (max-width: 570px) {
//   .reports {

//   }
// }
