@media (max-width: 1680px) {
  .header {
    padding-bottom: 80px;
  }
  .menu {
    &__items {
      gap: 30px;
    }
    &__link {
      font-size: 14px;
    }
  }
  .title {
    font-size: 54px;
  }
  .rectangle {
    right: -160px;
    // font-size: 18px;
  }
  .rectangle-vector {
    right: 109px;
    top: 40px;
  }
  .btn-link {
    &_promo {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .promo {
    min-height: 800px;
    &__bg-vector {
      max-width: 900px;
    }
    &__btns {
      display: flex;
      flex-direction: column;
    }
  }

  .img-scrin {
    max-width: 850px;
  }
}
@media (max-width: 1320px) {
  .menu {
    &__items {
      gap: 20px;
    }
    &__link {
      font-size: 11px;
    }
  }

  .title {
    font-size: 54px;
  }
  .rectangle {
    right: -80px;
    width: 200px;
    z-index: 1;
    padding: 15px 10px;
    font-size: 26px;
  }
  .rectangle-vector {
    right: 100px;
    top: 40px;
  }
  .promo {
    min-height: 800px;
    &__bg-vector {
      max-width: 900px;
    }
  }
  .select-box {
    padding: 12px 12px;
  }
  .button {
    padding: 12px 29px 12px 29px;
  }
  .btn {
    &_promo {
      font-size: 16px;
      padding: 25px 35px;
    }
  }

  .btn-link {
    margin-left: 0px;
    &_promo {
      font-size: 16px;
      padding: 23px 35px;
    }
  }

  .img-scrin {
    max-width: 800px;
    bottom: 0;
  }
}
@media (max-width: 1100px) {
  .menu {
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      left: -100%;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
      background-color: #000;
      opacity: 0.6;
      transition: left 1s;
    }
    &__link {
      color: white;
      font-size: 36px;
    }
  }

  .burger {
    display: block;
  }
  .select-container {
    display: none;
  }
  .header {
    padding-bottom: 50px;
    padding-top: 25px;
  }
  .promo {
    padding-bottom: 20px;
    &__box {
      margin: 0 auto;
      max-width: 600px;
    }
    &__section {
      display: block;
    }
    &__footer {
      margin-top: 50px;
      display: flex;
      flex-direction: column-reverse;
    }
    &__bg-vector {
      top: 130px;
      left: -50px;
    }
    &__bg-pink {
      top: 15%;
      left: 40%;
      height: 200px;
    }
    &__bg-blue2 {
      height: 400px;
      top: 50px;
      left: 70%;
    }
  }
  .rectangle-vector {
    display: none;
  }
  .rectangle {
    top: 118px;
    left: 0;
    font-size: 24px;
    height: 95px;
  }
  .title {
    font-size: 38px;
  }
  .img-scrin {
    max-width: 841px;
    margin-bottom: 67px;
    img {
      width: 100%;
    }
  }
  .shadow-scrin {
    top: 10px;
  }
}

@media (max-width: 768px) {
  .promo__bg-blue {
    img {
      height: 200px;
    }
  }
  .rectangle {
    top: 97px;
    width: 160px;
    height: 70px;
    font-size: 18px;
    z-index: 1;
    left: 100px;
    padding: 13px;
    padding-top: 12px;

    span {
      font-size: 14px;
    }
  }
  .button {
    &_login {
      border-radius: 93px;
      border: 1px solid var(--2898-f-5, #2898f5);
      background: #e3f1fe;
      color: var(--2898-f-5, #2898f5);
      font-size: 13px;
      border-radius: 93px;
      border: 1px solid var(--2898-f-5, #2898f5);
      margin-right: 10px;
    }
  }
  .btn {
    font-size: 14px;

    &_promo {
      img {
        width: 12px;
        height: 12px;
      }
    }
  }

  .btn-link {
    font-size: 14px;
    &_promo {
      img {
        width: 17px;
        height: 17px;
      }
    }
  }
  .logo {
    margin-right: 60px;
  }
  .promo {
    min-height: 651px;
    &__box {
      max-width: 600px;
      margin-bottom: 38px;
    }
    .title {
      font-size: 30px;
    }
    &__bg-vector {
      top: 185px;
    }
    &__bg-pink {
      top: 20%;
      left: 10%;
      width: 260px;
      height: 200px;
    }
  }
}

@media (max-width: 460px) {
  .header {
    padding-bottom: 40px;
    padding-top: 15px;
  }
  .rectangle {
    transform: rotate(6.021deg);
    border-radius: 20px;
    background: var(
      --27-aaf-43-paints,
      radial-gradient(
        77.62% 77.62% at 3.36% 85.16%,
        #10e8f5 0%,
        rgba(16, 232, 245, 0) 100%
      ),
      radial-gradient(
        88.4% 88.4% at 93.99% 23.32%,
        #6f42ef 0%,
        rgba(219, 20, 236, 0) 100%
      ),
      #27aaf4
    );
  }
  .img-scrin {
    margin-bottom: 35px;
  }
  .shadow-scrin {
    top: 5px;
    left: 5px;
  }
  .promo {
    min-height: 608px;
    border-radius: 0px 0px 50px 50px;

    &__btns {
      width: 100%;
    }

    &__bg-vector {
      top: 150px;
    }
    &__bg-blue {
      display: none;
    }
  }
  .rectangle {
    top: 79px;
    left: 18px;
    width: 124.28px;
    height: 63.003px;
    transform: rotate(6.021deg);
    flex-shrink: 0;
    font-size: 13px;
    border-radius: 20px;

    span {
      font-size: 13px;
    }
  }
  .burger {
    margin-left: 5px;
  }
  .btn {
    margin-right: 0;
    &_promo {
      padding: 22px 25px;
      font-size: 14px;
    }
  }
  .btn-link {
    &_promo {
      margin-top: 10px;
      padding: 22px 53px;
      font-size: 14px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 99.999px;
      height: 20.389px;
    }
  }
  .burger {
    img {
      width: 43px;
      height: 43px;
    }
  }
  .promo {
    .title {
      font-size: 24px;
    }

    &__box {
      max-width: 345px;
    }
  }
}
