@media (max-width: 1600px) {
  .menu {
    &__items {
      gap: 30px;
    }
    &__link {
      font-size: 14px;
    }
  }
  .title {
    font-size: 54px;
  }
  .rectangle {
    right: -178px;
  }
  .rectangle-vector {
    right: 109px;
    top: 40px;
  }
  .btn-link_promo {
    display: block;
    width: 400px;
    margin-left: 0;
    margin-top: 20px;
    padding: 38px 35px;
    text-align: center;
    img {
      left: 30px;
    }
  }
  .promo {
    &__bg-vector {
      max-width: 900px;
    }
  }
  .btn_promo {
    width: 400px;
    img {
      right: 70px;
    }
  }
  .img-scrin {
    max-width: 850px;
  }
}
@media (max-width: 1320px) {
  .menu {
    &__items {
      gap: 20px;
    }
    &__link {
      font-size: 11px;
    }
  }

  .title {
    font-size: 54px;
  }
  .rectangle {
    right: -80px;
    width: 200px;
    z-index: 1;
  }
  .rectangle-vector {
    right: 100px;
    top: 40px;
  }
  .promo {
    height: 1000px;
    &__bg-vector {
      max-width: 900px;
    }
  }
  .select-box {
    padding: 12px 12px;
  }
  .btn {
    padding: 10px 28px;
  }
  .btn-link {
    margin-left: 50px;
    font-size: 12px;
  }
  .btn_promo {
    padding: 24px 32px;
    font-size: 16px;
    img {
      width: 10px;
      right: 70px;
    }
  }
  .btn-link_promo {
    font-size: 12px;
    display: block;
    margin-left: 0;
    margin-top: 20px;
    padding: 25px 15px;
    text-align: center;
    img {
      width: 20px;
      left: 65px;
    }
  }
  .img-scrin {
    max-width: 800px;
    bottom: 0;
  }
}
@media (max-width: 1100px) {
  .menu {
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      left: -100%;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
      background-color: #000;
      opacity: 0.6;
      transition: left 1s;
    }
    &__link {
      color: white;
      font-size: 36px;
    }
  }
  .btn-link {
    border-radius: 0px;
    padding: 0 0;
    border: none;
    margin-left: 0px;
    color: white;
  }
  .btn-link_promo {
    border-radius: 31px;
    padding: 25px 43px;
    border: 1px solid var(--2898-f-5, #2898f5);
    position: relative;
    margin-left: 0px;
    width: 345px;
    color: #2898f5;
  }

  .btn {
    border-radius: 93px;
    border: 1px solid var(--2898-f-5, #2898f5);
    background-color: #e3f1fe;
    color: #2898f5;
    margin-right: 30px;

    &_promo {
      border-radius: 63px;
      background: var(--2898-f-5, #2898f5);
      padding: 22px 46px;
      color: #ffffff;
      margin-right: 0;
      cursor: pointer;
      width: 345px;
    }
  }
  .burger {
    display: block;
  }
  .select-container {
    display: none;
  }
  .header {
    padding-bottom: 50px;
    padding-top: 25px;
  }
  .promo {
    &__box {
      margin: 0 auto;
      max-width: 600px;
    }
    &__section {
      display: block;
    }
    &__footer {
      margin-top: 50px;
      display: flex;
      flex-direction: column-reverse;
    }
    &__bg-vector {
      top: 130px;
      left: -50px;
    }
    &__bg-pink {
      top: 15%;
      left: 40%;
      height: 200px;
    }
    &__bg-blue2 {
      height: 400px;
      top: 50px;
      left: 70%;
    }
  }
  .rectangle-vector {
    display: none;
  }
  .rectangle {
    top: 100px;
    left: 0;
  }
  .title {
    font-size: 38px;
  }
  .img-scrin {
    max-width: 841px;
    margin-bottom: 67px;
    img {
      width: 100%;
    }
  }
  .shadow {
    bottom: -10px;
  }
}

@media (max-width: 768px) {
  .promo__bg-vector {
    height: 200px;
  }
  .promo__bg-blue {
    img {
      height: 200px;
    }
  }
  .rectangle {
    width: 124.28px;
    height: 63.003px;
    top: 140px;
    z-index: 1;
    left: 100px;
  }
  .btn {
    margin-right: 15px;
  }
  .logo {
    margin-right: 60px;
  }
  .promo {
    &__box {
      max-width: 600px;
      margin-bottom: 38px;
    }
    .title {
      font-size: 36px;
    }
    &__bg-vector {
      top: 200px;
    }
    &__bg-pink {
      top: 20%;
      left: 10%;
      width: 260px;
      height: 200px;
    }
  }
}

@media (max-width: 430px) {
  .header {
    padding-bottom: 40px;
    padding-top: 15px;
  }

  .img-scrin {
    margin-bottom: 35px;
  }
  .promo {
    height: 620px;
    border-radius: 0px 0px 50px 50px;

    &__bg-vector {
      top: 150px;
    }
    &__bg-blue {
      display: none;
    }
  }
  .rectangle {
    width: 124.28px;
    height: 63.003px;
    top: 90px;
    z-index: 1;
    left: 40px;
  }
  .burger {
    margin-left: 5px;
  }
  .btn {
    margin-right: 0;
    &_promo {
      width: 345px;
      padding: 22px 25px;
      font-size: 14px;
      img {
        right: 80px;
        transform: translateY(-50%);
      }
    }
  }
  .btn-link {
    &_promo {
      margin-top: 10px;
      width: 345px;
      padding: 22px 25px;
      font-size: 14px;

      img {
        left: 55px;
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 99.999px;
      height: 20.389px;
    }
  }
  .burger {
    img {
      width: 43px;
      height: 43px;
    }
  }
  .promo {
    .title {
      font-size: 24px;
    }

    &__box {
      max-width: 345px;
    }
  }
}
