.first-column {
  max-width: 840px;
  height: 757px;
  border-radius: 65px;
  border: 1px solid rgba(40, 152, 245, 0.08);
  background: rgba(40, 152, 245, 0.17);
  box-shadow: 0px 4px 250px 0px #fff inset;
  position: relative;
  .first-column_plans__title {
    color: var(--ffffff, #fff);
  }
  .first-column_plans__descr {
    color: var(--ffffff, #fff);
    span {
      color: var(--ffffff, #fff);
    }
  }
  .first-column__list_color {
    color: var(--ffffff, #fff);
    span {
      color: var(--ffffff, #fff);
    }
  }
  &_help {
    flex: 1 1 33%;
    // max-width: 850px;
    height: 582px;
    flex-shrink: 1;
  }
  &_plans {
    flex: 1 1 33%;
    // max-width: 850px;
    height: 582px;
    border-radius: 65px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(
        77.62% 77.62% at 3.36% 85.16%,
        rgba(16, 204, 245, 0.6) 0%,
        rgba(16, 232, 245, 0) 100%
      ),
      radial-gradient(
        88.4% 88.4% at 93.99% 23.32%,
        #6f42ef 0%,
        rgba(219, 20, 236, 0) 100%
      ),
      #27aaf4;
    box-shadow: 0px 4px 100px 0px rgba(255, 255, 255, 0.4) inset;
    color: var(--ffffff, #fff);
  }
  &_brend {
    background-color: white;
    border: 2px solid var(--2898-f-5, #2898f5);
  }
  &__social {
    position: absolute;
    right: 0;
    top: -130px;
    &_brend {
      top: -200px;
    }
    .dollar {
      position: absolute;
      left: 0;
      top: 155px;
    }
    .social-icons {
      position: absolute;
      left: 10px;
      top: 30px;
      z-index: 1;
    }
    .three-dots {
      position: absolute;
      left: 20px;
      z-index: 1;
    }

    .heart {
      position: absolute;
      left: -100px;
      top: 15px;
      z-index: 1;
    }
    .like {
      position: absolute;
      bottom: -70px;
      z-index: 1;
      right: 25px;
    }
    .white-bg {
      position: absolute;
      transform: rotate(-2deg);
      border-radius: 23px;
      top: 2px;
      z-index: -1;
      left: 2px;
    }
  }

  &__content {
    padding: 80px 50px 50px 50px;
    height: 100%;
    ul {
      margin-bottom: 45px;
    }
  }

  &__title {
    color: var(--2898-f-5, #2898f5);
    font-size: 54px;
    font-weight: 400;
  }
  &__descr {
    color: var(--182149, #182149);
    font-size: 20px;
    line-height: 150%;
    margin: 15px 0;

    span {
      color: var(--2898-f-5, #2898f5);
      font-size: 20px;
      margin-top: 40px;
      display: block;
    }
  }
  &__list {
    color: var(--182149, #182149);
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;

    span {
      position: relative;
      color: var(--2898-f-5, #2898f5);
      margin-right: 15px;
      font-size: 16px;
      min-width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &::before {
      content: ""; /* Добавляем пустое содержимое для псевдоэлемента */
      position: absolute;
      width: 40px;
      height: 40px;
      background: url("../img/round.svg") center/contain no-repeat; /* Задаем изображение в качестве фона */
      z-index: 1; /* Помещаем псевдоэлемент под текстом */
    }
  }
}
