body {
  font-family: "HeliosExt";
}
.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 10px;
}

@import "./header.scss";
@import "./title.scss";
@import "./btn.scss";
@import "./promo.scss";
@import "./btn-link.scss";
@import "./partners.scss";
@import "./data.scss";
@import "./carousel.scss";
@import "./advantages.scss";
@import "./twoColumns.scss";
@import "./reports.scss";
@import "./img-scrin.scss";
@import "./plans.scss";

// MEDIA
@import "./mediaPromo.scss";
@import "./mediaCarousel.scss";
@import "./mediaAdvantages.scss";
@import "./mediaReports.scss";
@import "./mediaPlans.scss";
