body {
  font-family: "HeliosExt";
}
.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 10px;
}

@import "./header.scss";
@import "./title.scss";
@import "./btn.scss";
@import "./promo.scss";
@import "./btn-link.scss";
@import "./partners.scss";
@import "./data.scss";
@import "./carousel.scss";
// MEDIA
@import "./mediaPromo.scss";
@import "./mediaCarousel.scss";
